@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('Fonts/josefin-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('Fonts/josefin-sans-v16-latin-regular.woff2') format('woff2'),
    url('Fonts/josefin-sans-v16-latin-regular.woff') format('woff'),
    url('Fonts/josefin-sans-v16-latin-regular.ttf') format('truetype'),
    url('Fonts/josefin-sans-v16-latin-regular.svg#JosefinSans') format('svg');
}

@font-face {
    font-family: "Plato";
    src: url("Fonts/Regular.ttf");
}

text {
    -fx-font-family: "Josefin Sans";
}

label {
    -fx-font-family: "Josefin Sans";
}

button {
    -fx-font-family: "Josefin Sans";
}

.text {
    -fx-font-family: "Josefin Sans";
}

.label {
    -fx-font-family: "Josefin Sans";
}

.button {
    -fx-font-family: "Josefin Sans";
}
.table-view{
    -fx-background-color: #1a1b20;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color:linear-gradient(to right top, #25dce7, #3ae2c7, #72e49e, #a9e175, #e0d855) ;
}
.table-cell {
    -fx-alignment: center;
    -fx-text-fill:white;
    -fx-background-color: #1a1b20;
    -fx-font-weight: bold;
    -fx-border-width: 0px;

}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-border-color: linear-gradient(to right top, #25dce7, #3ae2c7, #72e49e, #a9e175, #e0d855);
    -fx-border-width: 0px 0px 2px 0px;

}

.table-view .column-header {
    -fx-background-color: #1a1b20;
    -fx-border-radius: 5px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: white;
}
