@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('Fonts/josefin-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('Fonts/josefin-sans-v16-latin-regular.woff2') format('woff2'),
    url('Fonts/josefin-sans-v16-latin-regular.woff') format('woff'),
    url('Fonts/josefin-sans-v16-latin-regular.ttf') format('truetype'),
    url('Fonts/josefin-sans-v16-latin-regular.svg#JosefinSans') format('svg');
}

@font-face {
    font-family: "Plato";
    src: url("Fonts/Regular.ttf");
}

text {
    -fx-font-family: "Josefin Sans";
}

label {
    -fx-font-family: "Josefin Sans";
}

button {
    -fx-font-family: "Josefin Sans";
}

.text {
    -fx-font-family: "Josefin Sans";
}

.label {
    -fx-font-family: "Josefin Sans";
}

.button {
    -fx-font-family: "Josefin Sans";
}
.table-view{
    -fx-background-color: #1a1b20;
}
.table-view .cell .filler{
    -fx-background-color: #1a1b20;
}
.column-header-background{
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);*/
    -fx-background-color: #1a1b20;
    /*-fx-border-color: white;*/
    /*-fx-border-width: 0px 0px 1px 0px;*/
}
.column-header{
    -fx-text-fill: white;
}
.table-view .column-header {
    /*-fx-background-color: transparent;*/
    /*-fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);*/
    -fx-background-color:#1a1b20;
    /*-fx-border-color: white;*/
    -fx-border-radius: 0px;
    -fx-border-width: 0px 0px 2px 2px;
    -fx-text-fill: white;
}
.table-row-cell:selected {
    -fx-text-fill:#00acea;
    -fx-background-color: whitesmoke;
    -fx-text-background-color:  #6622CC;
}
.table-cell {
    -fx-alignment: center ;
    -fx-border-width: 0px 0px 2px 2px;
    -fx-background-color: #1a1b20;
    -fx-text-fill:#00acea;

}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-border-color: linear-gradient(to right top, #25dce7, #3ae2c7, #72e49e, #a9e175, #e0d855);
    -fx-border-width: 0px 0px 2px 0px;

}


